@{
  Layout = "_Layout";
}

  <div class='container'>
      <div class='row'>
           <div class='page-heading'>
               <h1>City Data</h1>
               <p>Below is a list of city data. Use the dropdown list to filter the city data.</p>
               <form method='GET' action='/cities/filterBy'>
                 <div class='form-group'>
                   <select name='selection' class='form-control' required>
                      <option name='' value=''>Select a Filter</option>
                      <option name='selection' value='countryCode'>Country Code</option>
                      <option name='selection' value='district'>District</option>
                      <option name='selection' value='population'>Population</option>
                   </select>
                 </div>
                 <button type='submit' class='btn btn-lg btn-default' id='filterBtn'>Filter Results</button>
                 <a href='/cities' class='btn btn-lg btn-default'>View Unfiltered</a>
               </form>
           </div>
               @foreach (var city in Model)
               {
                  <div class='panel panel-default'>
                      <div class='panel-heading'>@city.GetName()</div>
                      <div class='panel-body'>
                      Country Code: @city.GetCountryCode()<br/>
                      Population: @city.GetPopulation()<br/>
                      District: @city.GetDistrict()<br/>
                      </div>
                  </div>
               }
       </div>
  </div>
