@{
  Layout = "_Layout";
}

  <div class='container'>
      <div class='row'>
          @{
               await Html.RenderPartialAsync("_CityForm");
           }
               @foreach (var city in Model)
               {
                  <div class='panel panel-default'>
                      <div class='panel-heading'>@city.GetName()</div>
                      <div class='panel-body'>
                      Country Code: @city.GetCountryCode()<br/>
                      Population: @city.GetPopulation()<br/>
                      District: @city.GetDistrict()<br/>
                      </div>
                  </div>
               }
       </div>
  </div>
